<form>
    <div class="form-group">
        <label for="Name">Your Name</label> <br>
        <input ngModel  id="name" type="text" class="form-control">

    </div> <br><br>
    <div class="form-group">
        <label for="quote-tittle">Quote Tittle</label> <br>
        <input type="text" id="quote-tittle" >

    </div> 
    <br><br>
    <div class="form-group">
        <label for="quote">Quote</label><br>
        <textarea id="quote" cols="30" rows="10"></textarea>
       
    </div> <br><br>
    <div class="form-group">
        <label for="author">Author</label><br>
        <input type="author"id="author" placeholder="author">

    </div> <br><br>
    
    <button class="btn btn-primary ">Submit</button>
</form>
 
  